<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-4">
     
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="..." *ngIf="!userProfile.image">
              <img class="avatar border-gray" [src]="userProfile.image" alt="..."  *ngIf="userProfile.image">
              <h5 class="title">{{userProfile.name}}</h5>
            </a>
            <p class="description">
              {{userProfile.email}}
            </p>
          </div>         
        </div>
      </div>
    </div>
  </div>
</div>
